body{
    background-color: #D9D9D9;
    padding-left: 10%;
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}
.title{
    color: black;
    font-weight: 800;
    font-size: 100px;
    padding: none;
    margin:0;
    /*align-items: center;*/
    justify-content: center;
    text-align: center;
}
.search-bar{
    border-radius: 28px;
    background-color:white;
    display: flex;
    width:max-content;
    align-items: center;
    padding: 14px;
}
.search-input{
    font-size: 16px;
    color: black;
    margin-left: 14px;
    outline: none;
    border: none;
    background-color: transparent;
    width: 300px;
}
.filter-button{
    background-color: #2C2C2C;
    border-radius: 10px;
    outline: none;
    color: white;
    font-family: "Liter",serif;
    font-size: 25px;
    display: flex;
    box-shadow: none;
    border: none;
}